body {
    background-image: url("/img/CATE-BG.jpg");
    margin: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: auto;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar {
    height: 60px;
}

.Mainlogo {
    /* หาวิธี center */
    height: 50px;
}

.cartlg {
    position: relative;
    width: 20px;
    height: 20px;
}

.cartlg:hover {
    width: 25px;
    height: 25px;
}

.nav-signin {
    position: relative;
    font-size: 16px;
}

.header-text {
    width: 100%;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
    margin-top: 5%;
}

.headhr {
    height: 0.5px;
    width: 100%;
    background: white;
}

.cate-box {
    width: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.catepreview {
    background-color: rgba(255, 255, 255, 0.884);
    position: relative;
    border: 0.5px solid #ccc;
    display: inline-block;
    margin: 10px;
    border: none;
}

.catepreview img {
    opacity: 0.9;
    position: relative;
    width: 250px;
    height: 250px;
    border: none;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.catepreview img:hover {
    opacity: 1;
    transform: scale(1.08);
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.catepreview a {
    text-decoration: none;
    color: black;
}

.catepreview a:hover {
    text-decoration: none;
    color: black;
}

.namepd {
    font-size: 16px;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.foothr {
    height: 0.1px;
    width: 100%;
    background: white;
}

footer {
    font-size: 10px;
    font-weight: lighter;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}