 /* EDITHEADER */

 .edit-header-bx {
     padding: 1em;
     color: #000;
     font-weight: bold;
     border-bottom: 1px solid rgba(0, 0, 0, 0.158);
 }

 .edit-header-bx img{
     width:25px;
 }
 /* EDITZONE */

 .edit-zone {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-top: 1em;
 }

 .grid-contain-edit {
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     padding: 1em;
     border-bottom: 1px solid rgba(0, 0, 0, 0.158);
     margin-bottom: 1em;
 }

 .edit-title {
     font-size: 1em;
     font-weight: bold;
     color: rgb(0, 122, 221);
 }

 .edit-dbs {
     display: grid;
     justify-content: center;
     text-align: left;
 }

 .edit-dbs input {
     width: 200px;
     font-size: 0.7em;
 }

 .edit-dbs select {
     font-size: 0.7em;
 }

 /* BTN */

 .btn-zone {
     text-align: center;
     font-size: 0.9em;
     padding-bottom: 1em;
 }

 .btn-zone button {
     border: none;
     background-color: rgb(12, 130, 209);
     color: #FFF;
 }

 .btn-zone a:hover {
     text-decoration: none;
     color: rgb(0, 63, 146);
 }

 /* HOME AND BACK */

 #back-button {
     margin-top: 3em;
 }

 #home-button {
     margin-top: 3em;
 }

 #home-button, #back-button {
     margin-right: 1em;
     width: 20px;
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .2s ease-in-out;
     transition: .2s ease-in-out;
 }

 #home-button:hover, #back-button:hover {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
 }

 @media only screen and (max-width:660px) {
     .edit-header-bx {
         font-size: 0.9em;
     }
     #home-button, #back-button {
         width: 15px;
     }
     .home-button, .back-button {
         display: flex;
         justify-content: center;
     }
     #home-button {
         margin-top: 1em;
     }
 }