/* CONTAINER */

.sign-in-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 5em;
}

.title-sign {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(67, 155, 255);
}

.sign-in-box hr {
    color: #000;
    margin: 0;
    margin-bottom: 3em;
}

.sign-button {
    margin-bottom: 2em;
    margin-right: 0.5em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    text-transform: lowercase;
    color: #fff;
    background-color: rgb(212, 173, 0);
    border: none;
}

.sign-button:hover {
    color: #000;
    background-color: rgb(255, 208, 0);
}

input {
    font-size: 1em;
    margin: 10px;
}

.chk-box {
    margin-top: 0.5em;
    margin-bottom: 1.4em;
}

form {
    display: flex;
    justify-content: center;
}

.resize-icon-sign {
    width: 20px;
}