/* Animation-SearchBar */

.searchBox:hover>.searchInput {
    width: 280px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: center;
    width: 60px;
    height: 31px;
    border-radius: 10%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
    transition: 1.25s;
}

.searchInput {
    border: none;
    outline: none;
    float: center;
    border-radius: 10%;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 1.25s;
    line-height: 27px;
    width: 0px;
}

@media screen and (max-width: 600px) {
    .searchBox:hover>.searchInput {
        width: 50px;
        padding: 0 6px;
    }
}



/* CSS-table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 10%;
    height:auto;
    margin-right:100px;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 30px;
}

tr.Headtable{
    text-align:center;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/* set-image-center */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* เซตกรอบให้มนต์ */

img {
    border-radius: 15%;
}

.general-search{
    border-radius: 10%;
    border:2px solid black;
}

/* edit-icon */

.box>img {
    width: 100%;
    height: auto;
    transition: .5s;
}

.box:hover>img {
    width: 110%;
    height: auto;
}



/* delete-icon */

.box2>img {
    width: 70%;
    height: auto;
    transition: .5s;
}

.box2:hover>img {
    width: 80%;
    height: auto;
}

/* add-icon */

.box3>img {
    width: 50%;
    height: calc(30% - 10vh);
    transition: .5s;
}

.box3:hover>img {
    width: 65%;
    height: 15%;
}

.topnav{
    background-color:#ddd;
}

